{% load static %}
<!DOCTYPE html>
<html lang="en">
<div class="navbar-nav">
    <a class="nav-item nav-link" href="">Home</a>
    <a class="nav-item nav-link" href="collection">Collection</a>
    <a class="nav-item nav-link" href="shoes">Shoes</a>
    <a class="nav-item nav-link" href="racingboots">Racing Boots</a>
    <a class="nav-item nav-link" href="contact">Contact</a>
    <a class="nav-item nav-link last" href="#"><img src="{% static 'images/search_icon.png' %}"></a>
    <a class="nav-item nav-link last" href="contact.html"><img src="{% static 'images/shop_icon.png' %}"></a>
</div>

</html>